

*{margin:0;}

h1{text-align: center;
	padding: 10px 0;}


.pagina{
	background: #C0C0C0;
	margin: 0 auto;
	width: 100%;
	min-width: 690px;
	padding-top: 0px;
	padding-bottom: 2px;
	min-height: 600px;
	border-right: 1px dotted;
	border-left: 1px dotted;
	color:#363636;
}

.cabecalho{
	color:#ffffff;
	border: 1px solid #ccc;
 	margin: 0px 0px 5px 0px;
	padding: 5px 0;
	width: 100%;
    background: #000000;
}

.conteudo{
	margin: 16px auto;
	width: 95%;
	min-height: 550px;	
	
}

#teste {
	background-color: #C0C0C0
}

.rodape{
	background-color:#000000;
	color: #ffffff;
	height: 35px;
	line-height: 30px;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	min-width: 690px;
	border: 1px solid #000000;
}

.botaoVermelho{
	color: red !important;
}

.ui-panelgrid .ui-widget-content{
	background: transparent;
}

.ui-button{
	padding: 2px;
	margin: 5px 0;
}


